---
BasedOnStyle: Mozilla
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  AcrossEmptyLines: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakAfterAttributes: Always
BreakAfterReturnType: Automatic
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 100
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseBlocks: true
IndentPPDirectives: BeforeHash
IndentRequiresClause: false
IndentWidth: 4
InsertBraces: true
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
LineEnding: LF
PackConstructorInitializers: NextLine
QualifierAlignment: Left
RemoveParentheses: MultipleParentheses
SeparateDefinitionBlocks: Always
SpacesInLineCommentPrefix:
  Maximum: 1
TabWidth: 4
WhitespaceSensitiveMacros:
  - STRINGIZE
Language: Cpp
...

